$meli-main-yellow: #ffe600;
$meli-main-background: #EEEEEE;
$meli-main-darkgrey: #666666;
$meli-main-lightgrey: #999999;
$meli-main-black: #333333;
$meli-main-grey: #ffe600;
$meli-main-lightgrey: #ffe600;
$meli-main-padding: 10px;
$meli-button-blue: #3483FA;




    