.product-item-card{
    display:flex;
    width: 80%;
    flex-direction: row;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

.product-item-image{
    padding: 16px;
    img{
        width: 180px; 
        height: 180px;
    }
}

.product-item-price{
    padding-bottom: 0px;
    background-color: red;
}

.product-item-title{
    background-color: yellow;
}
.product-item-body{
    flex:2;
    padding-top: 16px;
}

.product-item-address{
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    background-color: blue;
}