@import '../../Styles/main.scss';
.product-item-card{
    display:flex;
    width: 72%;
    flex-direction: row;
    background-color: white;
}

.product-item-image{
    cursor: pointer;
    padding: 16px;
    img{
        border-radius: 4px;
        width: 180px; 
        height: 180px;
    }
}

.product-item-price{
    font-weight: 400;
    font-size: 24px;
    img{ 
        padding-left: 8px;
      }
}

.product-item-title{
    font-weight: normal;
    cursor: pointer;
    color:$meli-main-black;
    font-size: 18px;
}
.product-item-body{
    flex:2;
    padding-top: 32px;
}

.product-item-address{
    color:$meli-main-darkgrey;
    font-size: 12px;
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
}

